* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
}

.container {
    background-image: url(./public/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    inset: 0;
    justify-content: center;
}

.questions-wrapper {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.54);
    padding: 35px;
    width: 40%;
    text-align: center;
}

.title {
    color: yellow;
    font-size: 31px;
    margin-bottom: 30px;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
    user-select: none
}

.title:hover {
    color: yellowgreen;
    scale: 135%;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    gap: 15px;
}

.question {
    font-size: 23px;
    display: flex;
    flex-direction: column;
    width: 95%;
    position: relative;
}

.question .question__answer {
    height: 0;
    overflow: hidden;
    margin-top: 5px;
    color: aquamarine;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    text-align: start;
}

.question__content {
    color: aquamarine;
    align-self: flex-start;
    transition: all 0.5s ease-in-out;
}

.question__content::after {
    content: '+';
    position: absolute;
    right: 0;
}

.question.active .question__answer {
    height: 100px;
    color: yellowgreen;
}

.question.active .question__content {
    color: yellowgreen;
}

.question.active .question__content::after {
    content: '-';
}

@media (max-width: 885px) {
    .questions-wrapper {
        width: 70%;
    }
}

@media (max-width: 510px) {
    .questions-wrapper {
        width: 80%;
    }

    .title {
        font-size: 18px;
    }

    .question {
        font-size: 16px;
    }

    .question.active .question__answer {
        height: 50px;
    }

    .question .question__answer {
        font-size: 14px;
    }
}